@charset "UTF-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, 
cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, 
dd, ol, ul.main_nav, li, fieldset, form, label, legend, input, textarea, select, table, caption, tbody, 
tfoot, tr, th, td, details, figure, figcaption, hgroup, menu, 
footer, header, nav, button {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-image:url(../img/sfondo.jpg);
	background-size:cover;
	background-attachment: fixed;
}
#tag{
	width:50%;
	margin-left:25%;
	margin-top:15%;
	background-color: white;
	opacity: 0.6;
	overflow:hidden;
}
#grim{
	margin:0% 13% 2%;
	background-image:url(../img/scritta_grim.png);
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	width:70%;
	min-height:200px;
}
.inserimento{
	border:none;
	background-color:#CFF09E;
	margin:0% 15% 2%;
	width:70%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	font-size:2em;
	color:#3B8686;
}
#sub{
	float:right;
	margin-right:15%;
	margin-bottom:2%;
	padding:5px;
	color: #3B8686;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	border: none;
	background-color: #CFF09E;
}
#sub:hover{
	color:#0B486B;
}